name: CMake Build And Tests

on:
  pull_request:
    branches: [ "main" ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v4

    - name: Install Dependencies
      run: sudo apt install libgmock-dev libgtest-dev libyaml-cpp-dev swig librpm-dev -y

    - name: Configure
      run: cmake -B build -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }}

    - name: Build
      run: cmake --build build

    - name: Tests
      working-directory: ${{ github.workspace }}/build
      run: ctest -V
